<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Arki{% endblock %}</title>
	{% block header %}
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'arki/style.css' %}"/>
	{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom fixed-top">
		<a class="navbar-brand" href="{% url 'index' %}">Arki</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i> Etusivulle</a></li>
				
				{%if user.is_authenticated%}
				<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-money"></i></i> Kulut</a></li>
				<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-file-text"></i> Kauppalistat</a></li>
				{% endif %}
			
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{%if user.is_authenticated%}
				<li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><i class="fa fa-sign-out"></i> Logout</a></li>
				{%else%}
				<li class="nav-item"><a class="nav-link" href="{% url 'login'%}"><i class="fa fa-sign-in"></i> Login</a></li>
				{% endif %}
			</ul>
		
	</nav>

	{% block content %}
	
	
	{% endblock %}
</body>
</html>